# Default ignored files
/shelf/
/workspace.xml
/modules.xml
/material_theme_project_new.xml
/misc.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/pythonNets.iml
/vcs.xml
